model {
  ssd {
    num_classes: 3
    image_resizer {
      fixed_shape_resizer {
        height: 640
        width: 640
      }
    }
    feature_extractor {
      type: "ssd_mobilenet_v2_fpnlite_keras"
      depth_multiplier: 1.0
      min_depth: 16
      override_base_feature_extractor_hyperparams: true
      conv_hyperparams {
        regularizer {
          l2_regularizer {
            weight: 0.00004
          }
        }
        initializer {
          truncated_normal_initializer {
            stddev: 0.03
          }
        }
        activation: RELU_6
        batch_norm {
          decay: 0.997
          scale: true
          epsilon: 0.001
        }
      }
    }
    box_predictor {
      weight_shared_convolutional_box_predictor {
        depth: 128
        class_prediction_bias_init: -4.6
        conv_hyperparams {
          regularizer {
            l2_regularizer {
              weight: 0.00004
            }
          }
          initializer {
            truncated_normal_initializer {
              stddev: 0.03
            }
          }
          activation: RELU_6
          batch_norm {
            decay: 0.997
            scale: true
            epsilon: 0.001
          }
        }
      }
    }
    anchor_generator {
      multiscale_anchor_generator {
        min_level: 3
        max_level: 7
        aspect_ratios: [1.0, 2.0, 0.5]
        scales_per_octave: 2
        anchor_scale: 4.0
      }
    }
    post_processing {
      batch_non_max_suppression {
        score_threshold: 0.05
        iou_threshold: 0.5
        max_detections_per_class: 100
        max_total_detections: 100
      }
      score_converter: SIGMOID
    }
    normalize_loss_by_num_matches: true
    loss {
      classification_loss {
        weighted_sigmoid_focal {
          gamma: 2.0
          alpha: 0.25
        }
      }
      localization_loss {
        weighted_smooth_l1 {}
      }
      classification_weight: 1.0
      localization_weight: 1.0
    }
    encode_background_as_zeros: true
  }
}

train_config {
  batch_size: 8
  optimizer {
    rms_prop_optimizer {
      learning_rate {
        exponential_decay_learning_rate {
          initial_learning_rate: 0.004
          decay_steps: 800720
          decay_factor: 0.95
        }
      }
      momentum_optimizer_value: 0.9
      decay: 0.9
      epsilon: 1.0
    }
  }
  fine_tune_checkpoint: "checkpoint/ckpt-0"
  fine_tune_checkpoint_type: "detection"
  num_steps: 300000
  startup_delay_steps: 0.0
  max_number_of_boxes: 100
  use_bfloat16: true
  fine_tune_checkpoint_version: V2
  data_augmentation_options {
    random_horizontal_flip {}
  }
}

train_input_reader {
  label_map_path: "data/label_map.pbtxt"
  tf_record_input_reader {
    input_path: "data/train/*.tfrecord"
  }
}

eval_config {
  metrics_set: "coco_detection_metrics"
  batch_size: 1
  use_moving_averages: false
}

eval_input_reader {
  label_map_path: "data/label_map.pbtxt"
  shuffle: false
  num_epochs: 1
  tf_record_input_reader {
    input_path: "data/val/*.tfrecord"
  }
}

